<br />

<div class="div-height-first"></div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 text-center">
    <h1>What is Lorem Ipsum?</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
  <div class="col-3"></div>
</div>

<div class="div-height-first"></div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-2 text-center">
    <button (click)="seeTable()" type="button">Ver tabla</button>
  </div>
  <div class="col-2 text-center">
    <button (click)="hideTable()" type="button">Ocultar tabla</button>
  </div>
  <div class="col-4"></div>
</div>

<br />

<div *ngIf="show==true" class="row">
  <div class="col-12">
    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>